<div class="container">
   <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Make Request
                </div>
                <div class="card-body">
                    <form method="POST">
                        <input class="btn btn-warning btn-block" type="submit" value="Make Request"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Orders Records.
                </div>
                <div class="card-body">
                    <table class="table table-responsive bg-white table-hover table-bordered  table-striped">
                        <thead class="bg-info text-white">
                            <tr>
                                <th class="bg-warning" scope="col">Product</th>
                                <th class="bg-warning" scope="col">Category</th>
                                <th class="bg-warning" scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Book</td>
                                <td>Stationary</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Air Freshener</td>
                                <td>Bahlablu</td>
                                <td>100</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
   </div>

</div> 