{% extends 'partials/base.html' %}
{% block title %} Login Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="h4">Profile Information</span> <a class="offset-md-4 btn btn-info" href="">Edit</a><hr>
                                <table class="table table-responsive bg-white table-hover table-bordered  table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td>Mark</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <td>Stinoemmanuel6@gmail.com</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Phone</th>
                                            <td>08060870161</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Address</th>
                                            <td>23b St vale's Estate Maitama,Abuja.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}